* {
    padding: 0px;
    margin: 0px;
}


#paginaFrame iframe {
    scroll-margin: 0px;
    width: 100%;
    height: auto;
}

#barraSuperior {
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: green;
}

#barraLateral {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: green;
    padding-top: 30px;
    
    
}

#barraLateralTituto p {
    padding: 10px;

}

#barraLateralTituto p img {
    
}

#barraLateralIndice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#barraLateral p {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;

    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: center;
}

#barraLateral p a {
    color: black;
    text-decoration: none;
}

#pagina {
    margin-left: 200px;
    padding: 10px;
    padding-top: 50px;
    margin-top : 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    

}

h1 {
    color: green;
    font-size: 40px;
    line-height: 0%;
    text-align: left; 
}

.lineaTitulo {
    margin-top: 30px;
    border: 1.5px solid green;
    background-color: green;
}

.continenteH1 {
    margin-left: 100px; 
    margin-right: 100px; 
    margin-top: 50px; 
    margin-bottom: 50px;
}

.modeloTabla1 {
    border: 3.5px solid green;
    background-color: rgba(0, 128, 0, 0.062);
    border-spacing: 10px;
    width: 100%;
    border-radius: 25px;
    font-size: 25px;
}

.modeloTabla1 td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modeloTabla2Borde {
    border: 3.5px solid green;
    background-color: rgba(0, 128, 0, 0.062);
    border-radius: 25px;
    width: 100%
}

.modeloTabla2 {
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
    border: 3.5px solid green;
    border-spacing: 10px;
    width: 100%;
    font-size: 25px;
}

.modeloTabla2 td {
    border: 1px solid green;
}



/*
 <table style="border-color: green;" cellspacing="0" cellpadding="0" border="3" WIDTH="100%">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="5" border="1" WIDTH="100%"; style="background-color: rgba(0, 128, 0, 0.062);">
                            <tbody style="font-size: 25px; ; border-width: 20px; border: solid; border-color:green;">